<h1>Attendance Page</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .attendance-form {
            /* background-color: #3498db; */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }






        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #2980b9;
            color: black;
            font-weight: bold;
            padding: 10px 20px;
            border: none;
            border-radius: 7px;
            cursor: pointer;
        }

         button:hover {
                background-color: green;
         }


           

        .large-button {
            display: inline-block;
            padding: 20px 20px;
            font-size: 15px;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid #3498db;
            background-color: #3498db;
            color: #fff;
            border-radius: 8px;
            transition: background-color 0.3s, color 0.3s;
        }
    </style>
</head>
<body>

    <button class="large-button" type="button" onclick="backbutton()">Back</button>
    <div class="attendance-form">
        
        <form>
            <label for="desig_id">Designation ID:</label>
            <select id="desig_id" name="desig_id">
                
            </select>

            <label for="starttime">Start Time:</label>
            <input type="time" id="starttime" name="starttime" required>

            <label for="endtime">End Time:</label>
            <input type="time" id="endtime" name="endtime" required>

            <label for="is_active">Is Active:</label>
            <select  id="is_active" name="is_active" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>

            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="present">Present</option>
                <option value="absent">Absent</option>
                <option value="late">Late</option>
            </select>

            <label for="remarks">Remarks:</label>
            <textarea id="remarks" name="remarks" rows="2" required></textarea>

            <button id="savebutton" onclick="attendancefunction()" type="button">Submit Attendance</button>
        </form>
    </div>


</body>
</html>




<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    //dropdown work
    $(function () {
        debugger
        $.ajax({
            url: '/Hrm/Employee/GetDropdownData',
            type: 'GET',
            
            success: function (data) {
                console.log(data);
                var dropdown = $('#desig_id');// dropdown #ID field name
                dropdown.empty();

                var  selectoption = $('<option>').text('--select--').val('');
                dropdown.append(selectoption);

                $.each(data, function (index, group) {

                    var option = $('<option>').text(group.dd_value).val(group.id);

                    dropdown.append(option);// dd_value -> collect to the employee table , using query

                });
                
            },
            
        });
    });


    // back button
    function backbutton() 
    {
        window.location.href = '/Hrm/Empdashboard/Dashboard';
    }

    //save data
    function attendancefunction() {
        var formData = new FormData();
        formData.append('desig_id', $('#desig_id').val());
        formData.append('starttime', $('#starttime').val());
        formData.append('endtime', $('#endtime').val());
        formData.append('is_active', $('#is_active').val());
        formData.append('status', $('#status').val());
        formData.append('remarks', $('#remarks').val());

        $.ajax({
            type: 'POST',
            url: '/Hrm/Attendance/Save',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                // Handle the success case, e.g., remove the deleted image from the table
                $('#desig_id').val('');
                $('#starttime').val('');
                $('#endtime').val('');
                $('#is_active').val('');
                $('#status').val('');
                $('#remarks').val('');

                //window.location.href = '/Hrm/Employee/Show';
            },
            error: function () {

            }

        });
    }


</script>



@*  ####  DropDown er kaj #####
    1-> ajax er code 
    (2 & 3 j table theke anbo data tar controller & repository te kora lagbe)
    2-> contrller giye kaj j table theke data anbo 
    3-> repository giye query chalabo
    4-> Dropdown model create , then specific data ante hbe  query chalay.

    1->>>
    $(function () {
        debugger
        $.ajax({
            url: '/Hrm/Employee/GetDropdownData',
            type: 'GET',

            success: function (data) {
                console.log(data);
                var dropdown = $('#desig_id');// dropdown #ID field name
                dropdown.empty();

                var  selectoption = $('<option>').text('--select--').val('');
                dropdown.append(selectoption);

                $.each(data, function (index, group) {

                    var option = $('<option>').text(group.dd_value).val(group.id);

                    dropdown.append(option);// dd_value -> collect to the employee table , using query

                });

            },

        });
    });


    2->>>
    [HttpGet]
        public IActionResult GetDropdownData()
        {

            IEnumerable<DropDownModel> data = EmployeeRepository.GetDropDownData();
            return Json(data);
        }

     3->>>
      public static IEnumerable<DropDownModel> GetDropDownData()
        {
            string query = "SELECT id as id , CONCAT(desig_id , ' | ',empname  ) as dd_value FROM HRM_Employees";

            using (IDbConnection connection  = new SqlConnection(LoadConnectionString()))
            {
                return connection .Query<DropDownModel>(query,new DynamicParameters()).ToList();
            }
        }

        4->>>
        public int id { get; set; }
        public string dd_value { get; set; }
     
*@